/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&family=Arapey:ital@0;1&family=Sintony:wght@400;700&display=swap');

/* Asterisk wildcard selector to overide default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #1f1e1e;
    font-family: 'Sintony', sans-serif;
}

h1, h2, h3 {
    font-family: 'Arapey', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #141313;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 0.5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #1f1e1e;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 0.5em;
}

.active {
    border-bottom: 1px solid #1f1e1e;
}

/* Nav bar styles for dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px #1f1e1e;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    /* Make main element take up surplus space and push footer down */
    flex: 1 0 auto;
    margin-top: 45px;
}

/* Hero section */
#hero {
    height: 500px;
    width: 100%;
    background: url("../images/hero.webp") no-repeat bottom center/cover;
    position: relative;
}

#cover-text {

    background-color: rgba(100, 105, 150, 0.7);
    font-size: 120%;
    position: absolute;
    margin-left: 20px;
    bottom: 30px;
    width: 85%;
    min-height: 150px;
    padding: 15px;
}

#cover-text > h2, 
#cover-text > h3 {
    color: #141313;
}

/*Reasons section*/
#reasons {
    width: 90%;
    margin: 20px auto;
    
}

#reasons h2 {
    font-size: 280%;
    margin-bottom: 20px;
}

#benefits-stress div, 
#benefits-sleep div, 
#benefits-awareness div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits-stress p, 
#benefits-sleep p, 
#benefits-awareness p {
    padding: 0 20px;
}

#benefits-stress hr, 
#benefits-sleep hr, 
#benefits-awareness hr {
    border-top: 1px solid #141313;
    margin: 5px 0;
}

#benefits-stress, 
#benefits-sleep, 
#benefits-awareness {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#benefits-stress > div, 
#benefits-sleep > div,
#benefits-awareness > div {
    width: 100%;
    text-align: center;
    align-self: center;
}

#circle-image {
    background: url("../images/hero-circle.webp") no-repeat top center/cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 180%;
    padding: 5px;
    color: #1f1e1e;
}

/* Meadia query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 300%;
        letter-spacing: 2px;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content push down under bigger header */
    main {
        margin-top: 75px;
    }

    #cover-text {
        /*width: 280px;
        right: 250px;*/
        margin: 50px 230px;
        padding: 20px;
        width: 40%;
        text-align: center;
    }

    #reasons h2 {
        text-align: center;
    }
}

/* Meadia query: laptops and upwards (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #1f1e1e;
    }

    #hero {
        height: 600px;
    }

    #cover-text {
        bottom: 100px;
    }

}

/* Meadia query: laptops and desktops (1200px and up) */
@media screen and (min-width: 1200px) {

    #hero {
        height: 750px;
        
    }

    #cover-text {
        margin: 100px 280px;
        left: 125px;
        padding: 40px 20px;
    }

    #reasons h2 {
        text-align: center;
    }

    #benefits {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #benefits-stress, 
    #benefits-sleep {
        width: 400px;
        margin-top: 75px;
    }

    #benefits-image {
        order: 0;
    }
    
    #benefits-sleep {
        order: 1;
    }

    #benefits-awareness {
        order: 2;
    }

    
}